/* preloads all image to allow portrait to landscape changes, vice versa */
.preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* portrait orientation photos */
@media all and (orientation: portrait) {
  .slide-1 {
    background-image: url('../img/p/bcg_slide-1.jpg');
  }
  .slide-2 {
    background-image: url('../img/p/bcg_slide-2.jpg');
  }
  .slide-3 {
    background-image: url('../img/p/bcg_slide-3.jpg');
  }
  .slide-4 {
    background-image: url('../img/p/bcg_slide-4.jpg');
  }
  .slide-5 {
    background-image: url('../img/p/bcg_slide-5.jpg');
  }
  .slide-6 {
    background-image: url('../img/p/bcg_slide-6.jpg');
  }
  .slide-7 {
    background-image: url('../img/p/bcg_slide-7.jpg');
  }
  .slide-8 {
    background-image: url('../img/p/bcg_slide-8.jpg');
  }
}

@media all and (orientation: landscape) {
  .slide-1 {
    background-image: url('../img/l/bcg_slide-1.jpg');
  }
  .slide-2 {
    background-image: url('../img/l/bcg_slide-2.jpg');
  }
  .slide-3 {
    background-image: url('../img/l/bcg_slide-3.jpg');
  }
  .slide-4 {
    background-image: url('../img/l/bcg_slide-4.jpg');
  }
  .slide-5 {
    background-image: url('../img/l/bcg_slide-5.jpg');
  }
  .slide-6 {
    background-image: url('../img/l/bcg_slide-6.jpg');
  }
  .slide-7 {
    background-image: url('../img/l/bcg_slide-7.jpg');
  }
  .slide-8 {
    background-image: url('../img/l/bcg_slide-8.jpg');
  }
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  no-repeat: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.underline {
  text-decoration: underline;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}